<h1><%= t('showing.mining_type')%></h1>

<div class="mb-3">
  <strong><%= t('showing.type')%>:</strong>
  <%= @mining_type.description %>
</div>

<div class="mb-3">
  <strong><%= t('showing.acronym')%>:</strong>
  <%= @mining_type.acronym %>
</div>

<%= link_to t('links.edit'), edit_mining_type_path(@mining_type), class:"btn btn-primary" %>
<%= link_to t('links.back'), mining_types_path , class:"btn btn-secondary"%>
