<h1><%= t('showing.coin')%></h1>

<div class="mb-3">
  <strong><%= t('showing.description')%>:</strong>
  <%= @coin.description %>
</div>

<div class="mb-3">
  <strong><%= t('showing.acronym')%>:</strong>
  <%= @coin.acronym %>
</div>

<div class="mb-3">
  <strong><%= t('showing.image')%>:</strong>
  <%= image_tag @coin.url_image, size:"30x30" %>
</div>

<%= link_to t('links.edit'), edit_coin_path(@coin), class:"btn btn-primary" %>
<%= link_to t('links.back'), coins_path, class:"btn btn-secondary" %>
